.DexButton {
    background-color: #D3D3D3;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    margin: 10px 10px 10px 10px;
    position: relative;
    text-align: center;
    width: 200px; 
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}


.DexButtonPicture {
    height: 160px;
    width: 160px;
    position: absolute;
    z-index: 2;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    transition: transform .1s; /* Animation */
}

.DexButton:hover .DexButtonPicture{
    transform: scale(1.115); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.pokeball_Icon {
    margin: auto;
    z-index: 1;
    height: 160px;
    width: 160px;
}

.displayName {
    color:#686868;
    font-family: Flexo-Demi,arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    left:0;
    right:0;
    bottom: 2px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: auto;
    z-index: 2;
}

.displayNumber {
    color:#686868;
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
    top: 6px;
    left: 11px;
    margin-top: auto;
    margin-left: auto;
    position: absolute;

}