button {
    background-color: #D3D3D3;
    border: none;
    border-radius: 15%;
    display: block;
    font-size: 20px;
    height: 200px;
    margin: 10px 10px 10px 10px;
    text-align: center;
    width: 200px; 
}