
.FormDisplay {
    background:radial-gradient(#ffffff, #ffffff, #f8f8f8, #c0c0c0) padding-box, linear-gradient(to right, #808080, #808080) border-box;
    background-color: #f7f7f7;
    border: 5px solid #808080;
    border-radius: 25px;
    position: absolute;
    max-width: 400px;
    width: 400px;
    min-height: 496px;
    left: 425px;
    top: -5px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.wordLabel {
    color: #696969;
    font-size: 30px;
    font-family: "Flexo-Medium",arial,sans-serif;
}

.formImg{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border: solid #c0c0c0;
    margin-left: 2px;
    margin-right: 2px;
}

.formContainer {
    display: flex
}

/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio] + .formImg {
    cursor: pointer;
}
  
/* CHECKED STYLES */
[type=radio]:checked + .formImg {
    background-color: #bebebe;
    border-radius: 10px;
    border: solid #c0c0c0;
}


/* IMAGE STYLES */
[type=radio] + .genderSelect {
    cursor: pointer;
}
  
/* CHECKED STYLES */
[type=radio]:checked + .genderSelect {
    background-color: #bebebe;
    border-radius: 10px;
    border: solid #c0c0c0;
}

.genderSelect {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border: solid #c0c0c0;
    margin-left: 2px;
    margin-right: 2px;
}


