.DirectoryBar {
    background-color:white;
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: 10px;
}

.centralContainer {
    background-color: #c0c0c0;
    min-width: 250px;
    width: 90%;

}

.leftContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 100px;
    margin-right: 3px;
}

.rightContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 100px;
    margin-left: 3px;
}

.leftArrowPic {
    height: 40px;
    width: 100px;
}

.rightArrowPic {
    height: 40px;
    width: 100px;
}



.leftPokemonPic {
    top: 0;
    bottom: 0;
    right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    height: 30px;
    width: 30px;
    position: absolute;
    
}


.rightPokemonPic {
    top: 0;
    bottom: 0;
    left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    height: 30px;
    width: 30px;
    position: absolute;
}