.DirectoryBar {
    background-color:#c0c0c0;
    display: flex;
    height: 40px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: 10px;
}


.leftPic {
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    height: 30px;
    width: 30px;
}


.rightPic {
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    height: 30px;
    width: 30px;
}