.DirectoryBar {
    background-color:white;
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: space-between;
    margin-bottom: 5px;
    text-align: center;
    top: 10px;
    cursor: pointer;
    
}

.centralContainer {
    background-color: #c0c0c0;
    min-width: 300px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: transform .1s; /* Animation */
    z-index: 2;
}

.centralContainer:hover{
    transform: scaleY(120%); 
}

.centralContainerText {
    color: #c0c0c0;
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
}

.centralContainer:hover .centralContainerText{
    color:white;
}



.leftContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 100px;
    margin-right: 3px;
}


.rightContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 100px;
    margin-left: 3px;
}

.soleLeftContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 100px;
    margin-left: 3px;
}

.soleRightContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 100px;
    margin-left: 3px;
}

.leftArrowPic {
    height: 40px;
    width: 100px;
    transition: transform .1s; /* Animation */
}

.rightArrowPic {
    height: 40px;
    width: 100px;
    transition: transform .1s; /* Animation */
}

.leftPokemonPic {
    top: 0;
    bottom: 0;
    right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    height: 30px;
    width: 30px;
    position: absolute;
    z-index: 1;
    
}


.rightPokemonPic {
    top: 0;
    bottom: 0;
    left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    height: 30px;
    width: 30px;
    position: absolute;
    z-index: 1;
}


.rightContainer:hover{
    transform: scaleY(120%);
}

.leftContainer:hover {
    transform: scaleY(120%);
}

