.PictureDisplay {
    background-color:#EDEDED;
    height: 300px;
    width: 300px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.picture {
    height: 250px;
    width: 250px;
}

.name {
    margin-top: 0;
    margin-bottom: 0;
}